/*
  项目中的css样式统一在该文件中导出使用
 */

@import "normalize.css";
@import "./reset.less";
@import "./common.less";
@import "./resetAntd.less";
@import "../../views/eliaukMusic/styles/index.less";
@import "../iconfont/iconfont.css";

/**
 * @description: 自定义字体
*/

@font-face {
  font-family: 'Alimama';
  src: local('Alimama'), url(../font/AlimamaFangYuanTiVF-Thin.ttf) format('truetype');
  /* 可以根据需要添加更多的字体格式，如 woff、woff2 */
}

body {
  cursor: default;
}

/**
 * @description: iconfont默认字体大小24px
*/
.iconfont {
  font-size: 24px;
  color: #666666;
  line-height: 24px;
}
