.volume-adjuster-popover {
  .ant-popover-inner-content {
    width: 74px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 15px 15px 15px;
    box-sizing: border-box;
  }

  .ant-popover-inner {
    padding: 0;

    .ant-slider {
      flex: 1;
    }

    .anticon-sound {
      font-size: 18px;
      margin-top: 15px;
    }

    .volume-value {
      margin: 10px 0;
    }
  }
}