/* 扫码弹窗 */
.qr-code-modal {
  .qr-code {
    width: 100%;
  }
  
  .tip {
    text-align: center;
    margin-top: 10px;
  }
}

/* 登录注册弹窗 */
.login-register-modal {
  .ant-modal-content {
    padding: 0;
    border-radius: 15px;
  }
}

/* 视频播放弹窗 */
.video-dialog {
  .ant-modal-content {
    padding: 0;
    border-radius: 15px;
  }
}
